
.flex-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;

}

.time-date-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.countdown-container {
    display: block;
}

.flex-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
}

.qr-code-wrapper {
    position: fixed;
    bottom: 110px;
    left: 10px;
    height: 100px;
    width: 100px;
    
}

#qr-code {
    height: inherit;
    width: inherit
}